@using foodary.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Foodary</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- Responsive-->

    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/logo.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    @*<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">*@
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    @* custom css *@
    <link rel="stylesheet" type="text/css" href="~/css/custom_index.css" />


    @*<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBB60Ip9iv28WTdf-vLI1guI2wM0GxyS5Y"></script>*@


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="~/images/logo_small.png" alt="">
                        </a>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>

                            <li class='@Html.IsActive("Home", "Home")'>
                                @Html.ActionLink("Home", "Home", "Home")
                            </li>
                            <li class='@Html.IsActive("Home", "FoodSpend")'>
                                @Html.ActionLink("Food Expense", "FoodSpend", "Home")
                            </li>
                            <li class='@Html.IsActive("Home", "Map")'>
                                @Html.ActionLink("Find Food", "Map", "Home")
                            </li>
                            <li class='@Html.IsActive("Home", "FindRecipe")'>
                                @Html.ActionLink("Find Recipe", "FindRecipe", "Home")
                            </li>
                            @*<li><a href="~/Home/Feedback">Feedback</a></li>*@
                            @*<li><a href="~/Home/About">About</a></li>s*@
                        </ul>
                    </nav>
                    @*<div class="top-search search-switch">
                            <i class="fa fa-search"></i>
                        </div>*@
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
        <footer class="footer_section footer">
            <p>&copy; @DateTime.Now.Year - Foodary</p>
        </footer>
    </div>
    @*<script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>*@
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>


    <!--<script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/plugin.js"></script>-->
    <!-- sidebar -->
    <!--<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/custom.js"></script>-->
    <!-- javascript -->
    <!--<script src="/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBB60Ip9iv28WTdf-vLI1guI2wM0GxyS5Y"></script>*@
    @RenderSection("scripts", required: false)

    <!-- Js Plugins -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>