@model IEnumerable<foodary.Models.recipe>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Find recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <style type="text/css">

        .fixed_div {
            position: fixed;
            right: 0px;
            top: 220px;
            width: 400px;
        }
    </style>
</head>

<body>


    <div class="container" style="margin-top:100px">
        <h1 class="card_title" style="font-weight: bold; color: #0277bd; font-size:35px">FIND RECIPE</h1>
        <center>
            <p style="font-size:18px;  font-weight:bold;">There are many simple and cheap recipes to help you save money and time.</p>
        </center>
        <hr />
        <div class="row">
            <div class="col-md-8">

                <h4 class="categories" style="margin-bottom:20px">
                    SORT RECIPES
                </h4>
                <div class="filter-controls">
                    <ul>
                        <li class="active" onclick="GetSort('servingSize')">Servings</li>
                        <li onclick="GetSort('preparationTime')">Preparation time</li>
                        <li onclick="GetSort('cost')">Approximate cost</li>
                    </ul>
                </div>

                <div id="accordion" @*class="pre-scrollable"*@>
                </div>
            </div>


            <div class="col-lg-4 sidebar pl-lg-5 ftco-animate fadeInUp ftco-animated">
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <div class="categories">
                        <h4 style="margin-bottom:20px">CATEGORIES</h4>
                        <button class="btn btn-filter-active" id="butAll" onclick="getAll();">All</button>
                        <button class="btn btn-filter-default" id="butNVegetarian" onclick="getNon();">Non-vegetarian</button>
                        <button class="btn btn-filter-default" id="butYVegetarian" onclick="dss();">Vegetarian</button>
                        <br />
                        <hr />
                    </div>
                </div>

                <br />
                <h4 class="categories" style=" text-align: left;">
                    SELECT INGREDIENTS
                </h4>
                <div class="row my-3 text-center">
                    <div class="col-md-3" id="meat">
                        <p>Meat</p>
                    </div>
                    <div class="col-md-9" id="meat1">
                        <select class="selectpicker" multiple="multiple" id="selMeat" data-live-search="true" οnchange="
                                ();" size="5">
                            @if (ViewBag.MeatList != null && ViewBag.MeatList.Count > 0)
                            {
                                foreach (foodary.Models.product p in ViewBag.MeatList)
                                {
                                    <option value="@p.name">@p.name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <p>Vegetables</p>
                    </div>
                    <div class="col-md-9">
                        <select class="selectpicker" οnchange="GetData();" multiple="multiple" id="selVegetables" data-live-search="true"size="5" >
                            @if (ViewBag.VegetablesList != null && ViewBag.VegetablesList.Count > 0)
                            {
                                foreach (foodary.Models.product p in ViewBag.VegetablesList)
                                {
                                    <option value="@p.name">@p.name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-3">
                        <p>Others</p>
                    </div>
                    <div class="col-md-9">
                        <select class="selectpicker" multiple="multiple" id="selOthers" data-live-search="true" οnchange="GetData();" size="5">
                            @if (ViewBag.OthersList != null && ViewBag.OthersList.Count > 0)
                            {
                                foreach (foodary.Models.product p in ViewBag.OthersList)
                                {
                                    <option value="@p.name">@p.name</option>

                                }
                               
                            }
                        </select>
                    </div>
                </div>
                <div class="row my-3 ">
                    <div class="col-md-4" id="divMeat">
                    </div>
                    <div class="col-md-4" id="divVegetables">
                    </div>
                    <div class="col-md-4" id="divOthers">
                    </div>
                </div>
                <div class="row my-3 ">
                    <p>*Please click on selected ingredient to remove.</p>
                    
                    <div class="col-md-6" style="margin-left:100px">
                        <button class="btn btn-red" onclick="ClearQuery();">Clear Query</button>
                    </div>
                </div>

                <hr />

                <br />
            </div>
            <br />
            <br />
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        $("#butNVegetarian").click(function () { ChooseV(0); });
        $("#butYVegetarian").click(function () { ChooseV(1); });
        $("#butAll").click(function () { ChooseV(2); });

        $('#selMeat').on('changed.bs.select', function () { SelectP('M', this) });
        $('#selVegetables').on('changed.bs.select', function () { SelectP('V', this) });
        $('#selOthers').on('changed.bs.select', function () { SelectP('O', this) });

        GetData();
    });

    var category = "all";
    function ChooseV(type) {
        if (type == 0) {
            category = "non-vegetarian";
            $(".categories").find(".btn-filter-active").removeClass("btn-filter-active");
            $(".categories").find(".btn-filter-default").removeClass("btn-filter-default");

            $("#butNVegetarian").addClass("btn-filter-active");
            $("#butYVegetarian").addClass("btn-filter-default");
            $("#butAll").addClass("btn-filter-default");
            document.getElementById("meat").style.display = "";
            document.getElementById("meat1").style.display = "";
            document.getElementById("selmeat").style.display = "";
            GetData();
        } else if (type == 1) {
            category = "vegetarian";
            $(".categories").find(".btn-filter-active").removeClass("btn-filter-active");
            $(".categories").find(".btn-filter-default").removeClass("btn-filter-default");
            $("#butNVegetarian").addClass("btn-filter-default");
            $("#butYVegetarian").addClass("btn-filter-active");
            $("#butAll").addClass("btn-filter-default");
            document.getElementById("meat").style.display = "none";
            document.getElementById("meat1").style.display = "none";
            document.getElementById("selmeat").style.display = "none";
            GetData();
        } else {
            category = "all";
            $(".categories").find(".btn-filter-active").removeClass("btn-filter-active");
            $(".categories").find(".btn-filter-default").removeClass("btn-filter-default");

            $("#butNVegetarian").addClass("btn-filter-default");
            $("#butYVegetarian").addClass("btn-filter-default");
            $("#butAll").addClass("btn-filter-active");
            document.getElementById("meat").style.display = "";
            document.getElementById("meat1").style.display = "";
            document.getElementById("selmeat").style.display = "";
            GetData();
        }
        GetData();
    }
    function SelectP(type, sel) {

        var list = $(sel).val();
        if (list != null && list.length > 0) {
            var str = '';
            for (var i = 0; i < list.length; ++i) {
                str += '<span class="col-md-12 tile-product py-1" style="cursor:pointer;" οnchange="GetData()" onclick="ClearThis(this,\'' + type + '\');">' + list[i] + '</span><br />'
            }
            switch (type) {
                case "M":
                    $("#divMeat").html("");
                    $("#divMeat").html(str);
                    GetData();
                    
                    break;
                case "V":
                    $("#divVegetables").html("");
                    $("#divVegetables").html(str);
                    GetData();
                    break;
                case "O":
                    $("#divOthers").html("");
                    $("#divOthers").html(str);
                    GetData();
                    break;
            }
        } else {
            switch (type) {
                case "M":
                    $("#divMeat").html("");
                    GetData();
                    break;
                case "V":
                    $("#divVegetables").html("");
                    GetData();
                    break;
                case "O":
                    $("#divOthers").html("");
                    GetData();
                    break;
            }
        }
    }

    var sort = "servingSize";
    function GetSort(s) {
        sort = s;
        switch (sort) {
            case "preparationTime":
                $("#butPreparationtime").removeClass("btn-filter-default");
                $("#butPreparationtime").addClass("btn-filter-active");

                $("#butCost").removeClass("btn-filter-active");
                $("#butCost").addClass("btn-filter-default");

                $("#butServingsize").removeClass("btn-filter-active");
                $("#butServingsize").addClass("btn-filter-default");
                break;
            case "cost":
                $("#butCost").removeClass("btn-filter-default");
                $("#butCost").addClass("btn-filter-active");

                $("#butPreparationtime").removeClass("btn-filter-active");
                $("#butPreparationtime").addClass("btn-filter-default");

                $("#butServingsize").removeClass("btn-filter-active");
                $("#butServingsize").addClass("btn-filter-default");
                break;
            case "servingSize":
                $("#butServingsize").removeClass("btn-filter-default");
                $("#butServingsize").addClass("btn-filter-active");

                $("#butCost").removeClass("btn-filter-active");
                $("#butCost").addClass("btn-filter-default");

                $("#butPreparationtime").removeClass("btn-filter-active");
                $("#butPreparationtime").addClass("btn-filter-default");
                break;
        }
        GetData();
    }

    function getAll() {
        category = "all";
        GetData();
    }

    function getNon() {
        category = "non-vegetarian";
        GetData();
    }

    function dss() {
        category = "vegetarian";
        GetData();
    }


    function GetData() {
        var keys = [];
       
        var mlist = $("#selMeat").val();
        if (mlist != null && mlist.length > 0) {
            for (var i = 0; i < mlist.length; ++i) {
                keys.push(mlist[i]);
            }
        }
        var vlist = $("#selVegetables").val();
        if (vlist != null && vlist.length > 0) {
            for (var i = 0; i < vlist.length; ++i) {
                keys.push(vlist[0]);
            }
        }
        var olist = $("#selOthers").val();
        if (olist != null && olist.length > 0) {
            for (var i = 0; i < olist.length; ++i) {
                keys.push(olist[i]);
            }
        }
       

        $.ajax({
            type: "POST",
            url: "/Home/GetFoodaryData",
            data: { category: category, keys: keys, sort: sort },
            dataType: "json",
            success: function (data) {
                $('#accordion').empty();
                var html = '';
                //alert(category);
                //alert(keys);
                if (data.length == 0) {
                    html = '<div class="card col-md-12 p-1" style="text-align: center; border-color: #64B5F6;">No results found.</div>'
                }

                $.each(data, function (i, item) {

                    html += "<div class=\"card\">";

                    html += "<div class=\"card-header tile-recipe-bg row\" id=\"heading" + i + "\">";

                    html += "<div class=\"col-md-3\">";
                    html += "<img src=\"" + item.img_url + "\" style=\"max-width:150px;max-height:150px\"/>";
                    html += "</div>";

                    html += "<div class=\"col-md-9\">";
                    html += "<h3>";
                    html += "<button class=\"btn btn-link tile-recipe-txt\" data-toggle=\"collapse\" data-target=\"#collapse" + i + "\" aria-expanded=\"true\" aria-controls=\"collapse" + i + "\">";
                    html += (i + 1) + ". " + item.recipe_name;
                    html += "</button>";
                    html += "</h3>";
                    html += "<table class=\"table table-map display text-center pl-3 pr-3\" width=\"70%\">";
                    html += "<thead>";
                    html += "<tr>";
                    html += "<th>";
                    html += "Servings";
                    html += "</th>";
                    html += "<th>";
                    html += "Preparation time";
                    html += "</th>";
                    html += "<th>";
                    html += "Approximate cost";
                    html += "</th>";
                    html += "</tr>";
                    html += "</thead>";
                    html += "<tbody class=\"names\">";
                    html += "<tr>";
                    html += "<th>" + item.servings + "</th>";
                    html += "<th>" + item.total_time_str + "</th>";
                    html += "<th>$" + parseFloat(item.cost).toFixed(2) + "</th>";
                    html += "</tr>";
                    html += "</tbody>";
                    html += "</table>";
                    html += "</div>";
                    html += "</div>";
                    html += "<div id=\"collapse" + i + "\" class=\"collapse  \" aria-labelledby=\"heading" + i + "\" data-parent=\"#accordion\" style=\"\">";
                    html += "<div class=\"card-body\">";
                    //html += "<div style=\"text-align:center\">";
                    //html += "<img src=\"" + item.img_url + "\" style=\"max-width:200px;max-height:200px\"/>";
                    //html += "</div>";
                    html += "<table class=\"table table-map display text-center\" id=\"table" + i + "\" cellspacing=\"0\" width=\"100%\" style=\"margin-top: 2em;\">";
                    //html += "<thead>";
                    //html += "<tr>";
                    //html += "<th>";
                    //html += "Servings";
                    //html += "</th>";
                    //html += "<th>";
                    //html += "Preparation time";
                    //html += "</th>";
                    //html += "<th>";
                    //html += "Approximate cost";
                    //html += "</th>";
                    //html += "</tr>";
                    //html += "</thead>";

                    html += "<tbody class=\"names\">";
                    //html += "<tr>";
                    //html += "<th>" + item.servings + "</th>";
                    //html += "<th>" + item.total_time_str + "</th>";
                    //html += "<th>$" + item.cost + "</th>";
                    //html += "</tr>";
                    html += "<tr>";
                    html += "<th width=\"40%\">";
                    html += "Ingredients";
                    html += "<div class=\"text-left\">";

                    var strs = item.ingredients.split("**");
                    for (j = 0; j < strs.length; j++) {
                        if (strs[j].length > 0) {
                            html += "<p><b>|</b> " + strs[j] + "</p>";
                        }
                    }

                    html += "</div>";
                    html += "</th>";
                    html += "<th colspan=\"2\">";
                    html += "Directions";
                    html += "<div class=\"text-left\">";

                    var strs = item.directions.split("**");
                    for (j = 0; j < strs.length; j++) {
                        if (strs[j].length > 0) {
                            html += "<p><b>| Step " + (j + 1) + ": </b>" + strs[j] + "</p>";
                        }
                    }

                    html += "</div>";
                    html += "</th>";
                    html += "</tr>";
                    html += "</tbody>";
                    html += "</table>";
                    html += "</div>";
                    html += "</div>";
                    html += "</div>";
                });
                $('#accordion').html(html);
            }
        });

    }

    function getCategory(cate) {
        category = cate;
        alert(category);
        GetData();
    }

    function ClearQuery() {
        $("#selMeat").val("").trigger("change");
        $("#selVegetables").val("").trigger("change");
        $("#selOthers").val("").trigger("change");

        $('#divMeat').html("");
        $('#divVegetables').html("");
        $('#divOthers').html("");
    }

    function ClearThis(but, type) {
        var bv = $(but).text();
        switch (type) {
            case "M":
                $('#selMeat').find('[value="' + bv + '"]').prop('selected', false);
                $values = $('#selMeat').val();
                $('#selMeat').selectpicker('deselectAll');
                $('#selMeat').selectpicker('val', $values);
                $('#selMeat').selectpicker('refresh');
                GetData();
                break;
            case "V":
                $('#selVegetables').find('[value="' + bv + '"]').prop('selected', false);
                $values = $('#selVegetables').val();
                $('#selVegetables').selectpicker('deselectAll');
                $('#selVegetables').selectpicker('val', $values);
                $('#selVegetables').selectpicker('refresh');
                GetData();
                break;
            case "O":
                $('#selOthers').find('[value="' + bv + '"]').prop('selected', false);
                $values = $('#selOthers').val();
                $('#selOthers').selectpicker('deselectAll');
                $('#selOthers').selectpicker('val', $values);
                $('#selOthers').selectpicker('refresh');
                GetData();
                break;
        }
        $(but).remove();
    }

    function htmlScroll() {
        var top = document.body.scrollTop || document.documentElement.scrollTop;
        if (elFix.data_top < top) {
            elFix.style.position = 'fixed';
            elFix.style.top = 0;
            elFix.style.left = 800;
        }
        else {
            elFix.style.position = 'static';
        }
    }

    function htmlPosition(obj) {
        var o = obj;
        var t = o.offsetTop;
        var l = o.offsetRight;
        while (o = o.offsetParent) {
            t += o.offsetTop;
            l += o.offsetRight;
        }
        obj.data_top = t;
        obj.data_right = l;
    }

    var oldHtmlWidth = document.documentElement.offsetWidth;
    window.onresize = function () {
        var newHtmlWidth = document.documentElement.offsetWidth;
        if (oldHtmlWidth == newHtmlWidth) {
            return;
        }
        oldHtmlWidth = newHtmlWidth;
        elFix.style.position = 'static';
        htmlPosition(elFix);
        htmlScroll();
    }
    window.onscroll = htmlScroll;

    var elFix = document.getElementById('div1');
    htmlPosition(elFix);
</script>